body {
    background-color: #709fb0;
    text-align: center;
}

hr {
    background-color: aliceblue;
    border-color:aqua;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
